<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body>
        <% include ./partials/nav %>
            <div id="main-body">
                    <% include ./partials/searchbar %>
                <div id="game-image-box">
                    <img style="float: left;" src="<%= game.image_url %>	"></img>
                    <div id="game-header-box">
                        <h1 style="color:#0c7a18;background:none;">
                            <%= game.names %>
                        </h1>
                        <h2>Rank:
                            <%= game.rank %>
                        </h2>
                        <h2>Average Rating:
                            <%= game.avg_rating %>/10</h2>
                        <h2>Category:
                            <%= game.category %>
                        </h2>
                        <h2>Players:
                            <%= game.min_players + '-' + game.max_players %>
                        </h2>
                        <h2>Average Time:
                            <%= game.avg_time %> minutes</h2>
                        <h2>
                            <a href="<%= game.bgg_url %>">Board Game Geek Link</a>
                        </h2>
                    </div>
                </div>
                <fieldset id="game-info-box">
                    <legend>Details</legend>
                    <p>Players:
                        <%= game.min_players + '-' + game.max_players %>
                    </p>
                    <p>Minimum Age:
                        <%= game.age %> years</p>
                    <p>Time Range:
                        <%= game.min_time + '-' + game.max_time %> minutes</p>
                    <p>Average Time:
                        <%= game.avg_time %> minutes</p>
                    <p>Year:
                        <%= game.year %>
                    </p>
                    <p>Designer:
                        <%= game.designer %>
                    </p>
                    <p>Category:
                        <%= game.category %>
                    </p>
                    <p>Mechanics:
                        <%= game.mechanic %>
                    </p>

                </fieldset>
                <div>
                    <form action="/comment/create" method="POST" id="add-comment">
                        <h2>Leave a comment</h2>
                        <input type="hidden" name="game_id" value="<%= game.game_id %>">
                        <p>Name:
                            <input type="text" maxlength="30" required name="name">
                        </p>
                        <p>Comment:
                            <textarea maxlength="500" rows="4" id="input-box" name="comment" required></textarea>
                        </p>
                        <input type="submit" value="Submit">    
                    </form>
                </div>
                <div id="comment-section">
                    <br>
                    <h2>Comments (<%= comments.length %>)</h2>
                    <% comments.forEach(function(comment) { %>
                    <div class="comment">
                        <h3><%= comment.name %></h3>
                        <p><%= comment.comment %></p>
                    </div>
                    <% }); %>
                </div>
            </div>
    </body>

</html>